@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	border: 0px;
	margin: 0px;
	font-family: 'Lato',sans-serif;
	text-align: center;
}

#about{
	background: #1E90FF;
	color: white;
	min-height: 80vh;
	padding-top: 20vh;
	top: 0;
}

#about p{
	margin-left: 10vh;
	margin-right: 10vh;
	font-size: 1.1em;
	padding-bottom: 10vh;
}

#about h1{
	font-size: 3em;
	text-align: center;
}

#about h2{
	margin-top: 18vh;
	font-size: 2em;
	text-align: center;
}

.headers{
	font-size: 2em;
	text-align: center;
}

#resume{
  background-color: #20B2AA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

#resume:hover{background-color: #008080}

#projects{
	padding: 30px;
	padding-bottom: 5em;
}

.project-card{
	display: inline-block;
	background: #20B2AA;
	border-radius: 15px;
	color: white;
	text-decoration: none;
	text-align: left;
	height: 150px;
	width: 700px;
	overflow: hidden;
	padding-bottom: 1vh;
	margin-bottom: 5vh;
	margin-top: 3vh;
	margin-left: 5vh;
	margin-right: 5vh; 
	font-size: 1em;

}

.project-card:hover{background: #008080;}

.project-title{
	padding-left: 3vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-weight: bold;
	text-align: left;
	font-size: 1.3em;
	border-bottom: 2px solid white;
}

.project-lst{
	list-style-type: none;
	padding-bottom: 2vh;
}

@media (max-width: 700px){
	.project-card{
		display: inline-block;
		background: #20B2AA;
		color: white;
		text-decoration: none;
		text-align: left;
		height: 200px;
		width: 480px;
		overflow: hidden;
		padding-bottom: 1vh;
		font-size: 1em;
	}
}

#contact{
	background: #1E90FF;
	color: white;
	margin-bottom: 0px;
	bottom: 0;
	padding-top: 2vh;
	padding-bottom: 7vh;
	padding: 30px;
}

.contact-details{
	display: inline-block;
	margin: 45px 35px 45px 35px;
}


.brightness img:hover {
    opacity: .5;
}

nav ul{
	background-color: #20B2AA;
	position: fixed;
	width: 100%;
	text-align: left;
	padding: .3%;
	margin: 0px;
}

nav ul li{
	display: inline-block;
	margin: 55px;
	margin-bottom: 10px;
	margin-top: 10px;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	color: #ADFF2F;
}