@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');


body{
	font-family: 'Nunito', sans-serif;
	background-color: #eeeeee;
	margin: 0px;
	overflow: hidden;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.title{
	font-size: x-large;
	font-weight: bolder;
}

.navbar {
	font-family: 'Lato',sans-serif;
	background-color: white;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%;
	height: 70px;
	z-index: 1;
}

.navLogo{
  margin-left: 10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navLogo img{
	max-width: 60%;
	height: auto;
}

.navbarLinks{
	text-align: center;
	direction: rtl;
}

.navLinks{
  margin-right: 10%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navLinks a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 1.4vw;
  margin-left: 20px;
}

.navLinks a:hover{
  color: #666666;
  transition: 0.5s;
}

.projects{
	margin-top: 100px;
	margin-left: 3%;
	margin-right: 3%;
}

.project-card{
	background-color: white;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 3px 3px #8e918f;
	width: 20%;
	height: 45%;
	margin: 1.5%;
	padding: 8px;
	display: inline-block;
	vertical-align: top;
}

.project-card a{
	text-decoration: none;
	color: black;
}

.project-card:hover{
	background-color: #f0f0f0;
	transition: .5s;
}

.project-title{
	font-weight: bolder;
	font-size: 1.2vw;
}

.project-pic{
	height: 50%;
	width: 100%;
	background-color: #4a4a4a;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.project-dsc{
	font-size: 1vw;
}

.project-logo{
	margin-top: 5%;
	height: 80%;
	width: 70%;
}

.contactInfo{
	margin-top: 120px;
	text-align: center;
}

.contactHeading{
	font-weight: bold;
	font-size: xx-large;
}

.contactDesc{
	font-size: large;
	margin-bottom: 60px;
}

.contactLink{
	font-size: large;
	color: #7291c4;
}

.aboutMe{
	margin-top: 120px;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

.profPic{
	border-radius: 50%;
	max-width: 35%;
	height: auto;
	margin-bottom: 15px;
	box-shadow: 0px 0px 20px #8e918f;
}

.bio{
	font-size: large;
}

.projects a{
	color: black;
}

.projectPage{
	margin-top: 120px;
	padding-left: 15%;
	padding-right: 15%;
	text-align: left;
	margin-bottom: 50px;
}

.projectPics{
	margin-bottom: 50px;
	padding-left: 15%;
	padding-right: 15%;
}

.mySlides{
	width: 100%;
	height: 70vh;
	box-shadow: 1px 1px 2px 2px #8e918f;
	border-radius: 5px;
}

.projectSlides{
	position: relative;
}

.slideButtonL{
	color: white;
	background-color: black;
	font-size: xx-large;
	border-radius: 5px;
	position: absolute;
  	top: 50%;
  	left: 0%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.slideButtonR{
	color: white;
	background-color: black;
	font-size: xx-large;
	border-radius: 5px;
	position: absolute;
  	top: 50%;
  	left: 100%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.dropbtn{
	display: none;
}

@media only screen and (max-width: 767px){
	.navLogo{
		margin-left: 0%;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

	}

	.navLinks{
	  margin-right: 2%;
	  position: absolute;
	  top: 50%;
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}

	.dropbtn{
		display: inline;
		background-image: url("img/threelines.png");
		background-size: 100%;
		background-color: white;
		width: 35px;
		height: 35px;
		border: none;
		outline: none;
	}

	.dropbtnProj{
		display: inline;
		background-image: url("img/threelines.png");
		background-size: 100%;
		background-color: white;
		width: 35px;
		height: 35px;
		border: none;
		outline: none;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: white;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		min-width: 30%;
		z-index: 1;
	}

	.navbarLinks{
		text-align: center;
	}

	.navLinks:hover .dropdown-content {
		display: block;
	}

	.navLinks a{
		float: none;
		display: block;
		color: white;
		padding: 14px 16px;
	  text-decoration: none;
	  color: black;
	  font-weight: bolder;
	  font-size: 5.5vw;
	  margin-left: 0;
	}

	.headLink{
		float: none;
		display: block;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 30px;
	}

	.profPic{
		border-radius: 50%;
		max-width: 70%;
		height: auto;
		margin-bottom: 15px;
		box-shadow: 0px 0px 20px #8e918f;
	}

	.aboutMe{
		margin-top: 120px;
		padding-left: 2%;
		padding-right: 2%;
		text-align: center;
	}

	.projectPage{
		margin-top: 120px;
		text-align: left;
		margin-bottom: 50px;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

	.projectPics{
		margin-bottom: 50px;
		padding-left: 4%;
		padding-right: 4%;
	}

	.mySlides{
		width: 100%;
		height: auto;
		box-shadow: 1px 1px 2px 2px #8e918f;
		border-radius: 5px;
	}

	.project-card{
		background-color: white;
		border-radius: 5px;
		border: none;
		box-shadow: 1px 1px 3px 3px #8e918f;
		width: 90%;
		height: 50%;
		margin: 1.5%;
		padding: 8px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

	.project-pic{
		height: 60%;
		width: 100%;
		background-color: #4a4a4a;
		border-radius: 5px;
		margin-bottom: 5px;
		text-align: center;
	}

	.project-dsc{
		font-size: 4.2vw;
	}

	.project-title{
		font-weight: bolder;
		font-size: 4.2vw;
	}

	.projects{
		margin-top: 100px;
		margin-left: 3%;
		margin-right: 3%;
		text-align: center;
	}

}